@media print {
    button.print, #buttons, footer, .question-wrapper.final-result {
        display: none !important;
    }

    body {
        margin: 0;
    }

    header {
        border: 0;
    }

    .help-box {
        border: 0;
        margin-left: 0;
        padding-left: 0;
    }

    #decisions, header, #diagram {
        padding: 0;
    }
}
