/* General page layout */

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-flow: column nowrap;
    background: #f2f3f5;
}

#site-header, footer {
    background: #fff;
}

main {
    flex: 1;
}

.wrapper {
    max-width: 60em;
    margin-inline: auto;
    padding: 1rem;
}





#site-header .wrapper, footer .wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

footer {
    border-top: 1px solid black;
    bottom: 0;
    background-color: #fff;
}

footer .back {
    background: url("../images/ArrowLeft.svg") no-repeat left center;
    padding-left: 1.5rem;
}

/* Site header */

#site-header {
    border-bottom: 1px solid black;
}

.site-title, .tree-name {
    color: #000;
    text-decoration: none;
}

.site-title {
    background: url("../images/logo.svg") no-repeat left center;
}

#index .site-title {
    padding-left: 4rem;
}

#tree-page .site-title {
    padding-left: 2rem;
}

#tree-page .tree-name, #tree-page .site-title {
    font-size: 1.25rem;
}

.site-intro {
    margin: 0 4rem;
}

.site-intro p {
    margin: 0 0 .5em;
}


/* Nav logo */
#site-header .right img {
    width: auto;
    height: 1rem;
}

.start #site-header .tree-name {
    display: none;
}


/* Tree page layout */
#tree-page main {
    background: #fff;
}

#top-section .wrapper {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: 2rem;
    align-items: flex-start;
}

@media (min-width: 1024px) {
    #top-section .wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

#path ul {
    padding-left: 1em;
    margin-bottom: 2rem;
}

#diagram {
    padding: 2rem;
    background: #f2f3f5;
    margin-inline: auto;
}

#answers h2 {
    margin-top: 0;
}

h2:focus {
    outline: none
}




.buttons {
    --__ac-stack-gap-xs: var(--a-spacing-3);
}

.destructive-buttons {
    display: flex;
    flex-direction: column;
    gap: var(--a-spacing-3);
    margin-top: var(--a-spacing-4);
    align-items: flex-start;
}

button.print .navds-button__icon {
    width: 24px;
    height: 24px;
    background: url("../images/PrinterSmall.svg") no-repeat center center;
}

.question-wrapper > * {
    margin-bottom: 1.5rem;
}

.navds-textarea__input {
    width: 100%;
    resize: both;
}

.navds-form-field {
    justify-items: unset;
}


/* Graph styling overrides */
.node rect, .node circle, .node ellipse, .node polygon, .node path {
    fill: #fff !important

}


