/* General page layout */

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-flow: column nowrap;
    background: #f2f3f5;
}

header, footer {
    background: #fff;
}

main {
    flex: 1;
}

.wrapper {
    max-width: 60em;
    margin-inline: auto;
    padding: 1rem;
}

header .wrapper, footer .wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

#tree-page header {
    margin-top: 2em;
}


footer {
    border-top: 1px solid black;
    position: sticky;
    bottom: 0;
    background-color: #fff;
}

footer .back {
    background: url("../images/ArrowLeft.svg") no-repeat left center;
    padding-left: 1.5rem;
}

/* Site header */

#site-header {
    border-bottom: 1px solid black;
}

.site-title, .tree-name {
    font-size: 1.25rem;
    color: #000;
    font-weight: bold;
    text-decoration: none;
}

.site-brand-left, .site-title {
    display: flex;
}

.site-title {
    gap: .5rem;
}

.site-brand-left img {
    height: 1.5rem;
    width: auto;
}

.site-brand-right svg {
    height: 1rem;
    width: auto;
}


/* Tree page layout */
#tree-page {
    background: #fff;
}

#top-section {
    display: grid;
    gap: 2rem;
    grid-template-areas:
    "tree"
    "answers";
}

#tree {
    grid-area: tree;
}

#answers {
    grid-area: answers;
}

@media (min-width: 1024px) {


    #tree-page .wrapper {
        padding-left: 8rem;
    }

    #tree-page .intro .wrapper {
        padding-right: 8rem;
    }

    #top-section {
        grid-template-columns: minmax(29rem, 1fr) 2fr;
        grid-template-areas:
      "tree answers";
    }
}

#tree-page header {
    margin-top: 2em;
}

#path ul {
    padding-left: 1em;
    margin-bottom: 2rem;
}

#diagram {
    margin-top: 1rem;
    padding: 2rem;
    background: #f2f3f5;
    margin-inline: auto;
}

h2:focus {
    outline: none
}

.buttons {
    --__ac-stack-gap-xs: var(--a-spacing-3);
}


.destructive-buttons {
    display: flex;
    flex-direction: column;
    gap: var(--a-spacing-3);
    margin-top: var(--a-spacing-4);
    align-items: flex-start;
}

button.print .navds-button__icon {
    width: 24px;
    height: 24px;
    background: url("../images/PrinterSmall.svg") no-repeat center center;
}

#question {
    display: inline-block;
}

#question.final-result {
    background: url("../images/CheckmarkCircle.svg") no-repeat right .2em;
    padding-right: 1.75rem;
}

.question-wrapper > * {
    margin-bottom: 1.5rem;
}

.navds-textarea__input {
    width: 100%;
    resize: both;
}

.navds-form-field {
    justify-items: unset;
}


/* Graph styling overrides */
.node rect, .node circle, .node ellipse, .node polygon, .node path {
    fill: #fff !important

}


