/* General page layout */

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-flow: column nowrap;
    background: #f2f3f5;
}

#site-header, footer {
    background: #fff;
}

main {
    flex: 1;
}

.wrapper {
    max-width: 60em;
    margin-inline: auto;
    padding: 0 1rem;
}



#site-header .wrapper, footer .wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 1rem;
}

footer {
    border-top: 1px solid black;
    bottom: 0;
    background-color: #fff;
}

footer .back {
    background: url("../images/ArrowLeft.svg") no-repeat left center;
    padding-left: 1.5rem;
}

/* Site header */

#site-header {
    border-bottom: 1px solid #CBCFD5;
}

/* Logo/title/tree name styling */

#site-header .left, #site-header .right, .site-title {
    display: flex;
    flex-flow: row nowrap;
    align-items: stretch;
}

#site-header .left img {
    width: auto;
    height: 3rem;
    margin-right: 1rem;
}

#tree-page #site-header .left img {
    height: 1.5rem;
    margin-right: .5rem;
}

#site-header .site-title {
    font-size: 2.5rem;
}

#tree-page #site-header .site-title {
    font-size: 1.5rem;
}


/* Nav logo */
#site-header .right img {
    width: auto;
    height: 1rem;
}


#index #site-header .right img {
    margin-top: .5rem;
}



.site-title {
    color: #000;
    text-decoration: none;
}










.site-intro {
    margin: 1rem 4rem;
}













/* Tree page layout */

body.start #answers {
    display: none;
}


#step-name {
    margin-bottom: 1rem;
}


#tree-page main {
    background: #fff;
}

#tree-page main header {
    padding-top: 1rem;
}

#top-section .wrapper {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: 2rem;
    align-items: flex-start;
}

@media (min-width: 1024px) {
    #top-section .wrapper {
        grid-template-columns: 1fr 1fr;
    }
}

#path ul {
    padding-left: 1em;
    margin-bottom: 2rem;
}

#diagram {
    padding: 2rem;
    background: #f2f3f5;
    margin-inline: auto;
    margin-top: 1rem;
}

#answers h2 {
    margin-top: 0;
}

h1:focus, h2:focus {
    outline: none
}




.buttons {
    --__ac-stack-gap-xs: var(--a-spacing-4);
}

.navds-text-field, .navds-textarea {
    width: 100%;
    max-width: 508px;
}


.question-wrapper, .destructive-buttons {
    display: flex;
    flex-direction: column;
    gap: var(--a-spacing-4);
}


.destructive-buttons {
    gap: var(--a-spacing-2);
    align-items: flex-start;
}


button.print .navds-button__icon {
    width: 24px;
    height: 24px;
    background: url("../images/PrinterSmall.svg") no-repeat center center;
}

.navds-textarea__input {
    width: 100%;
    resize: both;
}


/* Graph styling overrides */
.node rect, .node circle, .node ellipse, .node polygon, .node path {
    fill: #fff !important

}


